.smallScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-right: 0;
}

.bgBottomBig {
  position: absolute;
  top: 20.7rem;
  bottom: -2rem;
  width: 100vw;
  height: 70vh;
  background-color: #ffffff;
}

.bgBottomSmall {
  position: absolute;
  height: 70vh;
  bottom: 7.9rem;
  width: 100vw;
  background-color: #ffffff;

  position: absolute;
  height: 73%;
  bottom: -4.2rem;
  width: 100vw;
  background-color: #ffffff;
}

.smallScreenImg {
  position: absolute;
  top: 1rem;
  height: 100rem;
  left: 0;
  right: 0;
  width: 100%;
  flex-grow: 0;
}

.bigScreenImg {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.waveDiv {
  position: relative;
  bottom: -6rem;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.waveDiv svg {
  position: relative;
  display: inline-block;
  width: calc(127% + 1.3px);
  height: 137px;
}

.waveDiv .shapeFill {
  fill: #ffffff;
}
