.field1 {
  position: relative;
  margin-top: 7rem;
  margin-bottom: 5rem;
  width: 90vw;
}

.splitInput {
  display: flex;
  gap: 0;
  padding-right: 0;
  justify-content: space-between;
  width: 24rem;
}

@media only screen and (min-width: 769px) {
  .field1 {
    width: 40vw;
  }
}

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens */
