.field1 {
  position: relative;
  margin-top: 7rem;
  margin-bottom: 5rem;
  width: 90vw;
}

.splitInput {
  display: flex;
  gap: 0;
  padding-right: 0;
  justify-content: space-between;
  width: 25.5rem;
}
