#page-wrap {
    text-align: center;
    overflow: auto;
    top: 45%;
    position: relative;
  }
  
  .burgernav {
      width: 390px;
      font-family: "Baloo 2", cursive;
      font-style: normal;
      font-weight: 500;
      font-size: 26px;
      line-height: 155.4%;
      /* or 40px */
  
      letter-spacing: 0.02em;
  }
  
  .bm-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    /* Our sidebar item styling */
    text-decoration: none;
    margin-bottom: 10px;
    color: #835932;
    transition: color 0.2s;
  }
  
  .bm-item:hover {
    color: #F0C000;
    font-weight: 900;
  }
  
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 36px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #835932;
    border-radius: 10px;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 50px;
    width: 50px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #F0C000;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #f5f5f5;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
  }
  
  Styling of overlay
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
  