.text {
  position: absolute;
  height: 23px;
  left: 80px;
  top: 212px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 155.4%;

  text-align: center;
  letter-spacing: 0.105em;
  text-transform: uppercase;

  color: #835932;
}
