.background {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f5f5f5;
}

figure {
  margin: 0.3125rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caption {
  margin-top: 0.3125rem;
  color: #835932;
  font-family: "Poppins";
  font-style: normal;
  font-size: 12px;
  text-align: center;
}

.hero {
  position: absolute;
  width: 100vw;
  height: 15vh;
  left: 0rem;
  top: 0rem;
  background: #f0c000;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

.avatarImage {
  position: absolute;
  width: 6.5rem;
  height: 6.5rem;
  /* left: 260px; */
  top: 4.5rem;
  width: 120px;
  height: 120px;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.profileCard {
  width: 21rem;
  max-width: 23rem;
  padding: 1rem;
  margin: 14.5rem 0rem 0.625rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.125rem solid #f0c000;
  border-radius: 1rem;
  box-shadow: 0.5px 4px 1px 1px #f0c000;
}

.profileImg {
  width: 6.5rem;
  height: 6.5rem;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  /* margin-bottom: 1rem; */
}

.smallTitle {
  position: absolute;
  height: 2.5rem;
  top: 11.875rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.625rem;
  line-height: 155.4%;
  /* or 40px */
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #f0c000;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
  top: 17.1875rem;
  /* margin-left: 0.9375rem; */
  color: #f0c000;
}

.cardItem {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.3125rem;
  align-items: center;
}

/* BUTTON SECTION */
.buttons {
  width: 23rem;
  max-width: 23rem;
  margin: 1rem 0rem 0.5rem 0rem;
  padding: 0.625rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* border is just to see the width of the containers */
  /* border: 2px solid black; */
}

/* FRIEND ALERT SECTION */
.friendAlertCard {
  width: 23rem;
  max-width: 23rem;
  margin: 0.9rem 0rem 0.3125rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border is just to see the width of the containers */
  /* border: 2px solid #f0c000; */
}

.friendAlertItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}

h2 {
  font-size: 1.1875rem;
  padding: 0.125rem;
  color: #835932;
  background-color: #f0c000;
}

.pBig {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 122.9%;
  /* or 18px */
  letter-spacing: 0.02em;
  color: #835932;
}

p {
  font-size: 0.75rem;
}

.buttonsAlert {
  margin-top: 0.3125rem;
  width: 13.75rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* FRIEND LIST SECTION */
.friendListContainer {
  width: 22rem;
  max-width: 23rem;
  margin: 1rem 0rem 3rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.125rem solid #f0c000;
  border-radius: 1rem;
  box-shadow: 0.5px 4px 1px 1px #f0c000;
}

.friendImage {
  margin: 0.3125rem;
  width: 5rem;
  border-radius: 1.25rem;
}

.smallTitle2 {
  padding: 0.625rem;
  width: 12.0625rem;
  height: 2.5rem;
  top: 12.9375rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 155.4%;
  /* or 40px */
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #835932;
  text-align: center;
}

.friendList {
  margin: 0.625rem;
  padding: 0.3125rem;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.9375rem;
  list-style: none;
  color: #835932;
  /* border is just to see the width of the containers */
  /* border: 2px solid black; */
}

.friendListItem {
  font-size: large;
}

.additionalEvents {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.0625rem;
  line-height: 155.4%;
  /* identical to box height, or 19px */

  letter-spacing: 0.02em;

  color: #835932;
}
