.background {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #f5f5f5;
  height: 100vh;
}

.hero {
  position: absolute;
  width: 100vw;
  height: 25vh;
  left: 0px;
  top: 0px;
  background: #F0C000;
  overflow: hidden;
}

.profileCard {
  margin-top: 280px;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 104px;
  height: 104px;
  top: 160px;
}

.smallTitle {
  /* position: absolute; */
  width: 193px;
  height: 40px;
  left: 91px;
  top: 207px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 155.4%;
  /* or 40px */
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #F0C000;
}

.friendAlert {
  /* position: relative; */
  top: 500px;
}
