.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f5f5f5;
  /* height: 100vh;  */
}

.hero {
  position: absolute;
  width: 100vw;
  height: 20vh;
  left: 0px;
  top: 0px;
  background: #f0c000;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

.avatarImage {
  display: flex;
  align-items: center;
  position: absolute;
  width: 104px;
  height: 104px;
  top: 120px;
}

.profileCard {
  width: 420px;
  margin: 10px;
  padding: 10px;
  margin-top: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid black;
}

.card1 {
  width: 420px;
  margin: 5px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border: 1px solid black;
}

.smallTitle {
  /* position: absolute; */
  width: 193px;
  height: 40px;
  left: 91px;
  top: 207px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 155.4%;
  /* or 40px */
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #f0c000;
}

.icon {
  width: 20px;
  height: 20px;
  left: 203px;
  top: 275px;
  margin-left: 30px;
  color: #f0c000;
}

/* BUTTON SECTION */
.buttons {
  width: 400px;
  margin: 5px 0px 20px 0px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}

/* FRIEND ALERT SECTION */
h2 {
  margin: 10px 0px 0px 10px;
  padding: 2px;
  color: #f5f5f5;
}

.friendAlertCard {
  width: 420px;
  margin: 5px 0px 20px 0px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border: 1px solid black;
}

.card {
  margin-left: 20px;
  background-color: #f0c000;
}

.pBig {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122.9%;
  /* or 18px */

  letter-spacing: 0.02em;
  color: #835932;
}

.buttonsAlert {
  margin-top: 5px;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* FRIEND LIST SECTION */
.friendList {
  margin: 5px 0px 20px 0px;
  padding: 10px;
  width: 400px;
  display: flex;
  flex-direction: column;

  /* border: 1px solid black; */
}

.smallTitle2 {
  /* position: absolute; */
  width: 193px;
  height: 40px;
  left: 91px;
  top: 207px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 155.4%;
  /* or 40px */
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #835932;
}

.friendImages {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.friendNames {
  margin: 0px 15px 10px 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
