.field1 {
  flex-shrink: 1;
  position: relative;
  margin-top: 8rem;
  margin-bottom: 5rem;
  width: 90vw;
}

.splitInput {
  display: flex;
  gap: 0;
  padding-right: 0;
  justify-content: space-between;
  width: 98vw;
}

@media only screen and (min-width: 600px) {
  .field1 {
    width: 22rem;
    /* margin-top: 8rem; */
  }

  .splitInput {
    width: 24rem;
  }
}
