button {
  position: relative;
  width: 315px;
  height: 2.5rem;

  border-radius: 30px;
}

.signIn {
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 155.4%;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #835932;

  background: #ffffff;
  border-radius: 20px;
  border: none;
}

.signIn:hover,
.signIn:active {
  color: #ffffff;
  border: 3px solid #ffffff;
  background: #f0c000;
}

.signUp {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 155.4%;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #ffffff;

  border: 3px solid #ffffff;
  border-radius: 20px;
  background-color: transparent;
}

.signUp:hover,
.signUp:active {
  color: #835932;
  background: #ffffff;
  border-radius: 20px;
  border: none;
}

.createEvent {
  composes: signUp;
  position: relative;
  display: block;
  top: 1.5rem;
  left: 1rem;
  margin-right: 2rem;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  width: calc(100% - 2rem);
  height: 3rem;
}
