.button {
  position: absolute;
  width: 315px;
  height: 54px;

  border-radius: 30px;
}

.sign-in {
  left: 30px;
  top: 531px;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 155.4%;
  /* identical to box height, or 25px */

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #835932;

  background: #ffffff;
  border-radius: 20px;
  border: none;
}

.sign-up {
  /* position: absolute;
  left: 30px;
  top: 609px; */
}
