.background {
  margin: 1rem;
  width: 14rem;
  background-color: #f0c000;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}

.details {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  padding: 0.5rem;
}

.iconLocation {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

.iconTime {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

.iconName {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

.date {
  color: #f5f5f5;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
}

.day {
  width: 56.69px;
  height: 44.2px;
  left: 34.76px;
  top: 171.49px;

  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 92.4%;

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.month {
  margin-bottom: 1rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 155.4%;

  letter-spacing: 0.02em;

  color: #835932;
}

.location {
  margin-bottom: 0.5rem;
  color: #835932;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.02em;
}

.startTime {
  color: #f5f5f5;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  letter-spacing: 0.02em;
}

.name {
  color: #835932;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 0.02em;
}

.buttons {
  padding: 0rem;
  margin: 0.1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;

  color: #835932;
}
